# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [31]:
# empty dictonary 
Dict={}
type(Dict)

dict

In [32]:
Dict1=dict()
type(Dict1)

dict

In [33]:
data={'Alabama':'Montgomery',
    'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Colombus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [34]:
data['Ohio']

'Colombus'

In [35]:
data['Georgia']

'Atlanta'

In [36]:
# key error because thsis is not in the list
# data['New york']

### Update elements of a dictionary and add new elements

In [37]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday','Friday'),
    5:['Saturday','Sunday']}

In [38]:
# Thursday
day[4][0]   # day[key][index]

'Thursday'

In [39]:
# Sunday
day[5][1]

'Sunday'

In [40]:
day[3]='Wednesday'

In [41]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [42]:
# update saturday to holiday
day[5][0]='Holiday' # access then assign
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [43]:
day[5][1]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [44]:
# update thursday to holiday
#day[4][0]='Holiday' # can not update a tuple
#day

### `get` and `update` methods
- get use to access a value from dictonary
- update the disctonary with new value also update the old value

In [45]:
# return wednesday
day.get(3)

'Wednesday'

In [46]:
# monday
day.get(1)

'Monday'

In [47]:
day.get(6) # not generating an error if the key is not present

In [48]:
#day[6]

In [49]:
data={'Alabama':'Montgomery',
    'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Colombus'}

In [50]:
# update old entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Colombus'}

In [51]:
# new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Colombus',
 'Louisiana': 'Baton Rouge'}

In [52]:
data.update({'Missouri':'Jefferson City','Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Colombus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [53]:
# delete alabama using del mothod
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Colombus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [56]:
# delete ohio using pop
data.pop('Ohio')

'Colombus'

In [57]:
# delete the dictonary
del data

In [58]:
# name error as the dictonary not present anymore
#data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [59]:
data={'Alabama':'Montgomery',
    'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Colombus'}

In [61]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [62]:
data.values()

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Colombus'])

In [64]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Colombus')])

### Loop through a dictionary for

In [67]:
# unpack the dictonary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [68]:
# unpack the disctonary values
for j in data.values():
    print(j)

Montgomery
Pheonix
Atlanta
Frankfort
Colombus

In [69]:
# Dictonary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Colombus')
<class 'tuple'>

In [71]:
# unpack dictonary items
for j,k in data.items():
    print("state: ", j)
    print("capital: ", k)

state:  Alabama
capital:  Montgomery
state:  Arizona
capital:  Pheonix
state:  Georgia
capital:  Atlanta
state:  Kentucky
capital:  Frankfort
state:  Ohio
capital:  Colombus

### Convert dictionary to lists using `list()` function

In [73]:
# dictonary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [74]:
# dictoonary values to a list
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Colombus']

### A List in a Dictionary: how to unpack all of the entries

In [76]:
fav_language={'jen':['python', 'ruby'],'sarah':['C'],'edward': ['ruby','java'],'phil' : ['python', 'java']}

In [77]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['C'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [79]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favourite languages are: ")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favourite languages are:
						 python
						 ruby
The name is : Sarah. The favourite languages are:
						 C
The name is : Edward. The favourite languages are:
						 ruby
						 java
The name is : Phil. The favourite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [84]:
user={'est':{
    'first': 'albert',
    'last' : 'einstein',
    'location' : 'prinston'
},
      'mcurie':{
          'first' : 'marie',
          'last' : 'curie',
          'location' : 'paris'
      }
     }

In [82]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [85]:
#albert
user['est']['first']

'albert'

In [86]:
# paris
user['mcurie']['location']

'paris'

In [92]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print("full name: ",full_name)
    print("location: ",user_info['location'] )

Username: est
full name:  albert einstein
location:  prinston
Username: mcurie
full name:  marie curie
location:  paris